name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'mdhaber'
      && (github.event_name == 'pull_request' || github.event_name == 'push')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  tests:
    name: ${{ matrix.os }} ${{ matrix.environment }}
    runs-on: ${{ matrix.os }}
    needs: detect-ci-trigger
    if: needs.detect-ci-trigger.outputs.triggered == 'false'
    defaults:
      run:
        shell: bash -leo pipefail {0} {0}

    strategy:
      fail-fast: false

      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        environment: [ci-py310, ci-py313]

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.8.10
        with:
          pixi-version: v0.39.4
          cache: true
          environments: ${{ matrix.environment }}

      - name: Run marray tests
        run: pixi run -e ${{ matrix.environment }} tests-cov

      - name: Run array-api-tests
        run: pixi run -e ${{ matrix.environment }} xp-tests
