name: Docs Build

on: [push, pull_request]

jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.52.0
          cache: true
          environments: docs

      - name: Build docs
        run: pixi run --environment=docs docs

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: docs-build
          path: mybook/_build/html
